rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /problems/{problemId} {
      allow read: if true;
      allow create: if
        request.resource.data.keys().hasAll(['description', 'votes', 'solved', 'version'])
        && request.resource.data.description is string
        && request.resource.data.description.size() > 0
        && request.resource.data.description.size() <= 80
        && request.resource.data.votes is int
        && request.resource.data.votes == 1
        && request.resource.data.solved is bool
        && request.resource.data.solved == false
        && request.resource.data.version is int
        && request.resource.data.version == 1;
      allow update: if
        request.resource.data.description is string
        && request.resource.data.description.size() > 0
        && request.resource.data.description.size() <= 80
        && request.resource.data.votes is int
        && request.resource.data.votes >= 0
        && request.resource.data.solved is bool
        && request.resource.data.version is int
        && request.resource.data.version > resource.data.version;

      match /versions/{versionId} {
        allow read: if true;
        allow create: if
          request.resource.data.keys().hasAll(['description', 'version', 'archivedAt'])
          && request.resource.data.description is string
          && request.resource.data.version is int
          && request.resource.data.archivedAt is timestamp;
      }
    }
  }
}
