rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /feedback/{fileName} {
      allow create: if request.auth != null
        && request.resource.contentType == 'image/png'
        && request.resource.size < 10 * 1024 * 1024;
    }
  }
}
